* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    background-color: #121212;
    color: white;
}

a {
    color: white;
}
a:hover{
    color: #fff;
}
nav {
    margin-top: 10px;
}
.brand {
    font-size: 35px;
    font-weight: 900;
}
nav #line {
    width: 300px;
    height: 5px;
    background-color: #fff;
    

}

#nav-btn {
    padding: 8px 50px;
    background-color: #063E85;
    color: #fff;
    font-size: 13px;
    border: 2px solid #fff;
    border-radius: 10px;
    float: right;
    margin-top: -50px;
}

#p-line {
    margin: auto;
    width: 60px;
    height: 2px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
#p-line2 {
    margin: auto;
    width: 30px;
    height: 2px;
    background-color: #fff;
    text-align: center;
}

#landing-page {
    margin-top: 120px;
    font-family: 'Montserrat';
}

#landing-page a{
    border: 1px solid #fff;
    margin-right: 60px;
}

#landing-page #sp-text{
    color: #00C1FF;
}

#landing-page h1{
    font-size: 54px;
    font-family: 'Montserrat';
    font-weight: 900;
}
#landing-page p{
    font-size: 14px;
}

#page-card{
    color: #000;
    margin-top: 50px;
}
#page-card h4{
    color: #fff;
}

#page-card li{
    font-size:10px;
}



footer{
    font-family: 'Montserrat';
    background-color: #000000;
    padding: 60px 20px;
}


footer li{
    list-style: none;
    margin-top: 10px;

}

footer a {
    font-size: 12px;
}
footer i{
    margin-right: 10px;
}
footer span p{
    width: 100%;
    height: 2px;
    background-color: #fff;
}



@media only screen and (min-width: 781px) {
  

    #p-line {
        margin: auto;
        width: 100px;
        height: 2px;
        background-color: #fff;
        text-align: center;
        margin-bottom: 10px;
    }
    #p-line2 {
        margin: auto;
        width: 60px;
        height: 2px;
        background-color: #fff;
        text-align: center;
    }


    footer #footer-brand{
        margin-top: 100px;
        text-align: center;
    }
    

}

@media only screen and (max-width: 780px){
    #landing-page h1{
        font-size: 35px;
    }
}